/* responsive.css*/

@media(max-width: 425px) {

    html {
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .home-section {
        width: auto;
        height: 550px;
        background: none;
        background-size: cover;
        background-position: left;
        overflow: hidden;
        background-repeat: no-repeat;
        margin: 0;
        align-items: center;
        position: relative;
        transform: 0.5s ease-in;
    
    }
    
    #header {
        position: fixed;
        height: 70px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: right;
        transition: 0.5s ease-in-out;
        z-index: 10;
    
    }
    .menu-btn{
        display: block;
        font-size: 30px;
        color: black;
        margin-left: 70%;
    }
    
    #nav {
        position: fixed;
        top:60px;
        left: -500px;
        background-color: #f10404;
        margin-left: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        align-items: center;
    }
    
    
    .nv {
        margin: 20px;
        font-size: 15px;
        font-style: normal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: relative;
        color: black;
        text-decoration: none
    }
    
    .forground {
        height: 100%;
        width: 100%;
        position: absolute;
        background: none;
    
        .home-text {
            text-transform: uppercase;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0px;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            transform: translateY(50px);
            animation: fadeInUp 1s ease forwards;
        }
    
        .hh {
            letter-spacing: 3px;
            color: #8aa0f7;
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
        }
    
        h1 {
            color: #000000;
            font-size: 50px;
            margin-top: -5px;
            text-transform: capitalize;
        }
    
        .hs {
            color: #8aa0f7;
            font-size: 50px;
            font-weight: bold;
            margin-top: -8px;
            text-transform: capitalize;
        }
    
    }
    
    .button {
        margin-top: 30px;
    
        .btn {
            height: 30px;
            width: 100px;
            border-radius: 6px;
            border: none;
            background-color: #859cf7;
            position: relative;
        }
    
        .btn1 {
            height: 30px;
            width: 100px;
            border-radius: 6px;
            border-color: #859cf700;
            background-color: transparent;
            margin-left: 10px;
            border-color: #859cf7;
        }
    
        .btn1:hover {
            background-color: #859cf7;
            color: white;
            border: none;
        }
    }
    
    /*section 2 is starting from there*/
    
    .section-2 {
        background-color: #e4f1f7;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
    
    }
    
    #sub-sec2 {
        height: 90p;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
    
        .cols {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-top: 30px;

        }
    }
    
    .circle {
        width: 50px;
        /* Width of the circle */
        height: 50px;
        /* Height of the circle */
        background-color: #859cf7;
        /* Background color of the circle */
        border-radius: 50%;
        /* Makes the div a circle */
        display: flex;
        /* Center the circle within its container */
        align-items: center;
        /* Center the content vertically */
        justify-content: center;
        margin-right: 10px;
    }
    
    /*Section 3 is starting from there*/
    
    .section-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .sub-sec3 {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    
        .inside-sec3 {
            width: 100%;
            height: 500px; /* Add a height to make the div visible */
            background-image: url('Media files/about.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: -15px 0 15px -5px rgba(0, 0, 0, 0.2);
            margin-top: 40px;
        }
    }
    
    
    .inside-sec3-2 {
        width: 100%;
        text-align: center;
    }
    
    .about {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    
        .subheading {
            color: #859cf7;
        }
    
        .heading1 {
            font-size: 40px;
            margin-top: 10px;
        }
    
        .about-para {
            font-size: 17px;
            letter-spacing: 1px;
            color: rgb(173, 173, 173);
            margin-top: 35px;
            line-height: 25px;
        }
    
        .points {
            list-style: none;
            display: inline-block;
            width: 100%;
            margin-top: 30px;
            text-align: left;
        }
    
        .lists {
            display: flex;
            line-height: 40px;
            font-size: 20px;
        }
    
        .lists>div:first-child {
            width: 25%;
        }
    
        .lists>div:last-child {
            color: #859cf7;
            width: 75%;
        }
    
    }
    
    .last-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        .dives{
            color: #000000;
            width:33%;
            display:flex;
            align-items:center;
            font-size:20px;
        }
    }

    /*Services section start from there*/

.skills-section {
    background-color: #e4f1f7;
    height: auto;

    .heading-info {
        padding-top: 30px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        strong {
            font-size: 40px;
        }

        P:first-child {
            color: #8aa0f7;
            letter-spacing: 2px;
        }

        P:last-child {
            color: #7a7a7a;
            font-size: 19px;
            text-align: center;
        }
    }

}

.skills-info {
    margin: 5%;
    margin-top: -2%;
    display: block;
    padding-bottom: 40px;

    /* Optional: Adds space between the grid items */
    .grid-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        margin-top: 30px;
        .heading {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            font-size: 23px;
        }
        .circle{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #56b3ff;
            margin-top: 7%;
            
        }
        .c1{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: conic-gradient(transparent 0%, transparent 95%, rgb(231, 231, 231) 95%, rgb(231, 231, 231) 100%);
        }
        .c2{
            height: 135px;
            width: 135px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            display: flex;
                justify-content: center;
                align-items: center;
        }

        .items {
            width: 100%;
            height: 100%;
            display: flex;
            margin-top: 4%;
            .in-item{
                height: 80%;
                width: 50%; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

}

/*services section start from here*/
.services-section {
    height: auto;
    width: 100%;

    .info {
        padding-top: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        strong {
            font-size: 40px;
            
        }

        P:first-child {
            color: #8aa0f7;
            letter-spacing: 2px;
            
        }

        P:last-child {
            color: #7a7a7a;
            font-size: 19px;

        }

    }

    .details {
        display: flex;
        flex-direction: column;
        
        .box {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

                div {
                    height: 90px;
                    width: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: #859cf7;
                    margin-left: 40px;

                    span {
                        font-size: 30px;
                        color: white;
                    }
                }
            }

            h3 {
                font-size: 22px;
                margin-top: 10%;
                margin-left: 10%;
            }

            p {
                font-size: 20px;
                color: #7a7a7a;
                line-height: 30px;
                margin-left: 10%;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }

        .box:hover {
            background-color: #859cf7;

            div {
                background-color: #fafafa;
                margin: -35px 0px 0px 50px;
                transition: 0.3s;

                span {
                    color: #859cf7;
                }
            }

            h3 {
                color: white;
            }

            p {
                color: white;
            }
        }
    }


/* below services */

.below-s {
    margin-top: 100px;
    background-color: #859cf7;

    .sub-s {
        display: flex;
        flex-direction: column;
        margin: 0px 5% 0 5%;

        .content {
            h1 {
                color: white;
                font-size: 40px;
            }

            p {
                color: white;
                line-height: 30px;
                margin-top: -20px;
            }

            div {
                border-radius: 10px;
                background-color: white;
                font-size: 20px;
                width: fit-content;
                padding: 15px;
                margin-bottom: 20px;
            }

        }

        .img {
            width: 100%;
            background-image: url("Media files/here.png");
            background-size: cover;
            height: 450px;
            margin-top: -10px;

        }
    }
}

/*Projects section start from here*/

.projects {
    .info {
        padding-top: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        strong {
            font-size: 40px;
        }

        P:first-child {
            color: #8aa0f7;
            letter-spacing: 2px;
        }

        P:last-child {
            color: #7a7a7a;
            font-size: 19px;

        }
    }

    .project-imgs {
        margin-bottom: 7%;
        display: flex;
        flex-direction: column;

        .img {
            object-fit: contain;
            overflow: hidden;
            background-size: contain;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15) !important;
            border-radius: 5px;
            object-fit: cover;
            height: 400px;
            background-size: cover;
        }
    }
}

/* Testimonies section*/

.testimonies {
    background-color: #859cf7;

    .info {
        padding-top: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        strong {
            font-size: 40px;
            color: white;
        }

        P:first-child {
            color: #ffffff;
            letter-spacing: 2px;
        }

        P:last-child {
            color: #ffffff;
            font-size: 19px;

        }
    }
}

/*Our blog section */

.blogs {
    background-color: #e4f1f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .info {
        padding-top: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        strong {
            font-size: 40px;
        }

        P:first-child {
            color: #859cf7;
            letter-spacing: 2px;
        }

        P:last-child {
            color: #8b8a8a;
            font-size: 19px;

        }
    }

    .blogs-info {

        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;


        .boxes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
            margin: 0 10px 0 10px;
            padding-bottom: 30px;

            .img a img {
                text-decoration: none;
                overflow: hidden;
                width: 350px;
            }

            .below-img {
                margin-left: 8%;
                width: 350px;
                line-height: 30px;

            }
        }
    }
}

/*Contact Us section*/
.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .info {
        padding-top: 20px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        strong {
            font-size: 40px;

        }

        P:first-child {
            color: #859cf7;
            letter-spacing: 2px;
        }

        P:last-child {
            color: #808080;
            font-size: 19px;

        }
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 85%;

        .form {
            width: 100%;
            height: 100%;
            background-color: #e4f1f7;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            

            .form-in {
                width: 90%;
                height: auto;
                padding: 20px 0 20px 0;

                .ne{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .name{
                        height: 50px;
                        width: 100%;
                    }
                    .mail{
                        height: 50px; 
                        width: 100%; 
                        margin: 30px 0 0 0;

                    }

                }
                .subject{
                    height: 50px; 
                    width: 98.1%; 
                    margin-top:30px;
                }
                .msg{
                    width: 98.1%; 
                    margin-top:30px;
                }
                .submit-btn{
                    width: 30%;
                    height: 50px;
                    background-color: #859cf7;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    margin-top: 30px;
                }
            }
        }
    }

    .details {
        padding-bottom: 50px;
        .rows {
            display: flex;
            margin: 60px 0 0 30px;

        }

    }
}



/*Footer section start from there*/

footer {
    display: flex;
    background-color: #232931;
    flex-direction: column;
}

.col {
    height: 320px;
    width: 100%;

    h1 {
        color: white;
        margin-left: 5%;
        margin-top: 13%;

    }

    p {
        color: rgb(184, 184, 181);
        margin-top: 20%;
        margin-left: 5%;
        

    }

    button {
        height: 35px;
        border-radius: 5px;
        border: none;
        background-color: #859cf7;
        margin-left: 5%;
        font-size: 15px;
    }
}

.links {
    margin-left: 5%;
    color: rgb(184, 184, 181);
    display: block;
    font-size: 19px;
    width: fit-content;
    text-decoration: none;
    margin-top: 19px;
}

.services {
    margin-left: 5%;
    color: rgb(184, 184, 181);

}

h4 {
    margin-left: 5%;
    color: rgb(184, 184, 181);
}

.copyright {
    height: 100px;
    justify-content: center;
    align-items: top;
    background-color: #232931;
    padding-top: 10px;
    color: #B3B5B8;
    letter-spacing: 1px;
    line-height: 30px;
    p{
        margin: 0 10px 0 10px;
        text-align: center;
    }
}

}